<p>
<input class="new-task" placeholder="What needs to be done?" autofocus #taskInput>
<button class="add button" (click)="addTask(taskInput)">Add</button>
</p>

<div>
  <ul class="task-list">
    <li *ngFor="let item of items; let i = index;" (click)="deleteTask(item)">
      <div class="view">
        <label>{{item.order}} {{item.text}} <i class="fa fa-times fa-2" aria-hidden="true"></i></label>
      </div>
    </li>
  </ul>
</div>

<div>
  <p>
  <button class="btn btn-primary add" (click)="saveList()">Save List</button>
  </p>
</div>